__pycache__/
*.pyc
.venv/
venv/
.env
data/raw/*
data/processed/*
data/labeled/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/labeled/.gitkeep
src/models/tier1_svm/saved/*
src/models/tier2_bert/saved/*
image_service/saved/*
!**/saved/.gitkeep
dashboard/node_modules/
dashboard/build/
.ipynb_checkpoints/
